table {
    margin: 0;
    padding: 0;
}

td {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.even > td:nth-child(even) {
    background-color: black;
}
.odd > td:nth-child(odd) {
    background-color: black;
}