.wrapper {
    /* height: 500px;
    width: 500px; */
    display: grid;
    background-color: aquamarine;
    /* grid-template-columns: repeat(2, 50px); */
    grid-template-rows: repeat(3, 50px);
    gap: 5px;
    grid-template-areas: 
    "bl gr"
    "bl ye"
    "bl ye";
    /* justify-items: stretch; */
    /* align-items: stretch; */
    /* justify-content: space-evenly; */
    /* align-content: space-evenly; */
}


.black{
    background-color: black;
    color: white;
    grid-area: bl;
    /* justify-self: stretch; */
    align-self: start;
}
.green{
    background-color: green;
    grid-area: gr;
    align-self: center;
}
.yellow{
    background-color: yellow;
    grid-area: ye;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.purple {
    background-color: purple;
}

.bg {
    background-color: yellowgreen;
}

.parent {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 30px 200px 30px;
    grid-template-areas: 
    "header header header"
    "article nav ads "
    "footer footer footer";
    gap: 5px;
}

.header {
    grid-area: header;
}
.article {
    grid-area: article;
}
.nav {
    grid-area: nav;
}
.ads {
    grid-area: ads;
}
.footer {
    grid-area: footer;
}
